// FONTS
$primary-font: 'Space Mono', monospace;

// COLORS
$light: #EBEBEB;
$dark: #2C3333;
$yellow: #FFDE00;
$yellow-light: #FFF7B9;
$purple: #9A1663;
$purple-light: #3D323A;
$gray-1: #424242;
$gray-2: #585858;
$gray-3: #A7A7A7;
$gray-4: #CBCBCB;

// MEDIA SIZE
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;