@use '../base/variables' as v;

.header-buttons__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .dark-mode__box {
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    .dark-mode__toggle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
    }
  }
  .language-buttons__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    .language-button {
      width: 40px;
      height: 30px;
      border: none;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}